<div class="about-container">
  <div class="content">
    <h1>Skills Sprout</h1>
    <p>Our E-Learning Platform is dedicated to providing high-quality education through innovative
      and accessible online courses. We believe in empowering individuals with the knowledge and
      skills they need to succeed in today's fast-paced world. Our expert instructors and dynamic
      learning paths are designed to cater to a wide range of learners, from beginners to professionals.
      Join us on this journey of lifelong learning and personal growth.</p>
  </div>
</div>
<app-footer></app-footer>