<div class="container d-flex justify-content-center align-items-center vh-100" style="background: #EEF2FF;">
    <div class="col-md-6 col-lg-4 shadow-lg p-5 bg-white rounded-4">
        <h2 class="text-center text-primary fw-bold">Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
                <label for="email" class="form-label fw-semibold">Email:</label>
                <input type="text" id="email" class="form-control border-primary" formControlName="email">
                <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)" class="text-danger small mt-1">
                    <p *ngIf="loginForm.get('email').hasError('email')">Enter a valid email</p>
                    <p *ngIf="loginForm.get('email').hasError('required')">Email is required</p>
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label fw-semibold">Password:</label>
                <input type="password" id="password" class="form-control border-primary" formControlName="password">
                <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)" class="text-danger small mt-1">
                    Password is required
                </div>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary fw-semibold" [disabled]="loginForm.invalid">Login</button>
            </div>
            <div *ngIf="errorMessage" class="text-danger small mt-1">
                {{ errorMessage }}
            </div>
        </form>
        <p class="text-center mt-3">
            Don't have an account? <a routerLink="/register" class="text-decoration-none" style="color: #2563EB;">Register Here</a>
        </p>
    </div>
</div>
<app-footer></app-footer>